{
  "parser": "@typescript-eslint/parser",
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["no-date-parsing", "unicorn"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "project": ["tsconfig.json"],
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "no-unused-vars": "off",
    "no-cond-assign": "error",
    "no-param-reassign": [
      "error",
      {
        "props": true
      }
    ],
    "no-console": 1,
    "unicorn/prefer-number-properties": 2,
    "unicorn/no-useless-promise-resolve-reject": 1,
    "unicorn/no-instanceof-array": 1,
    "unicorn/no-array-reduce": 1,
    "unicorn/no-array-for-each": 1,
    "no-date-parsing/no-date-parsing": "error"
  }
}
